button{
    font-size: 1rem;
    padding: 0.6rem 0.8rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    cursor: pointer;
}

#logout-button{
    margin: 3rem;
    bottom: 0;
    position: absolute;
}

.Home{
    display: flex;
}

#details{
    max-width: fit-content;
    height: fit-content;
}

#user-content{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#details div{
    margin: 2rem 0;
}

legend{
    font-size: 1.5rem;
    font-weight: bold;
}

fieldset{
    padding: 2rem;
    border-radius: 1.5rem;
}

.bold-text{
    font-weight: bold;
}